<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	#RewriteCond $1 !^(.*\.php|util)
	RewriteRule . index.php [L]
</IfModule>
#不知道为什么，在服务器上这两个type都没有
AddType text/css .css
AddType application/javascript .js
